.convert-history {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .convert-history-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
  }
}
