.converter-container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  .converter-comp {
    margin-bottom: 16px;
    &.converter-title {
      display: flex;
      align-items: center;
      svg {
        transition: all .15s;
        &:hover {
          transform: rotate(90deg);
        }
      }
    }
  }
}

.root-menu-item {
  min-width: 80px;
}
